@import "../screen";

$color-text-nav: #A4A6B3;
$bg-nav: #363740;

body {
  display: flex;

  h1 {
    margin: 0;
  }

  nav {
    background: $bg-nav;
    min-width: 300px;
    height: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;

    .menu-burger {
      display: none;
    }

    @media (max-width: $medium) {
      width: 0;
      min-width: 0;
      position: absolute;
      max-width: none;
      z-index: 2;
      transition: all 0.5s;
      overflow: hidden;

      .menu-burger {
        display: block;
        position: fixed;
        top: 8%;
        left: 10px;
        transition: all 1s;
      }

      &.active {
        width: 100%;

        .menu-burger {
          left: 10px;
          .bar1, .bar2, .bar3 {
            background: white;
          }
        }
      }
    }

    .logo {
      margin: 15px auto;
      height: 100px;
    }

    &, a {
      color: $color-text-nav;
    }

    a {
      transition: all 0.3s;

      &.active{
        color: white;
        font-weight: bold;
      }

      &:hover {
        color: white;
      }
    }

    hr {
      border-width: 0px;
    }

    .menu {
      margin: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & > li {
        margin-bottom: 25px;

        &.subMenu {

          &.dropdown {

            &::before {
              top: -2px;
            }

          }

          &.active{
            color: white;

            &::after{
              color: white;
            }
          }

          ul {
            display: none;
            margin-left: 15px;
            font-size: 15px;

            li {
              margin-top: 5px;

              &:first-child {
                margin-top: 15px;
              }
            }
          }

          &.active {

            ul {
              display: block;
            }
          }
        }

      }

    }
  }

  #page {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      line-height: 27px;
      border-bottom: 1px solid lightgray;

      h1 {
        font-size: 24px;
      }

    }

    #content {
      height: 100%;
    }

  }

}