.table-admin {
  margin: 50px auto;
  width: 90%;
  border-spacing: 0;
}

.table-admin thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.table-admin thead tr {
  border-top: 1px solid black;
}

.table-admin thead tr.search-ligne .th-search {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 10px 15px;
}

.table-admin thead tr.search-ligne .th-search div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-admin thead tr.search-ligne .th-search div > input {
  width: 235px;
}

.table-admin thead tr.search-ligne .th-search div > select, .table-admin thead tr.search-ligne .th-search div button {
  width: 250px;
}

.table-admin thead tr.search-ligne .th-search div > input, .table-admin thead tr.search-ligne .th-search div > select {
  padding: 5px;
}

.table-admin thead tr.search-ligne .th-search div > input, .table-admin thead tr.search-ligne .th-search div > select, .table-admin thead tr.search-ligne .th-search div > .ms-parent {
  margin-left: 10px;
}

.table-admin tr th, .table-admin tr td {
  border-bottom: 1px solid black;
  padding: 15px 10px;
  text-align: left;
}

.table-admin tr th .divAction i, .table-admin tr td .divAction i {
  margin-right: 15px;
  cursor: pointer;
}

.table-admin tr th:first-child, .table-admin tr td:first-child {
  border-left: 1px solid black;
}

.table-admin tr th:last-child, .table-admin tr td:last-child {
  border-right: 1px solid black;
}

.table-admin tbody tr th, .table-admin tbody tr td {
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: context-menu;
  overflow: hidden;
}

.table-admin tbody tr:first-child th, .table-admin tbody tr:first-child td {
  border-top: 1px solid black;
}

.table-admin thead tr th, .table-admin thead tr td, .table-admin tfoot tr th, .table-admin tfoot tr td {
  border-top: 1px solid black;
}

.table-admin tr.spacing {
  height: 10px;
}
/*# sourceMappingURL=table.css.map */