#page-validation-ressource-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-validation-ressource-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page-validation-ressource-part .btn-validation-ressource-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ressource-validation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid;
}
.ressource-validation-list .ressource-user-waiting {
  border: solid;
}

thead .tr-pagination {
  display: none;
}
/*# sourceMappingURL=validation.css.map */