<nav>
    <div class="menu" id="menu-resource">
        <img src="/assets/image/Logo_Re_Sources.png" class="icon" alt="logo">
        <ul class="subMenu">
            <li><img src="/assets/image/Logo_Re_Sources.png" class="icon" alt="logo"></li>
            <li>
                <a id="nav-resources-list" class="tippy" data-tippy="Accéder aux ressources" href="{{ url('resource_list') }}">
                    <i class="fas fa-list-ul fa-lg"></i>
                </a>
            </li>
            {% if is_granted('ROLE_CITOYEN') %}
                <li>
                    <a id="nav-my-resources" class="tippy" data-tippy="Voir mes ressources" href="{{ url('user_account') }}">
                        <i class="far fa-bookmark fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a id="nav-resource-create" class="tippy" data-tippy="Créer une ressource" href="{{ url('resource_create') }}">
                        <i class="fas fa-plus fal-lg"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="tippy menu" data-tippy="Mon compte/Connexion" data-tippy-placement="bottom" id="openModalUser">
        <i class="fas fa-user fa-lg" class="icon">
            {% if app.user is defined %}
                {% if app.user is not null %}
                    <span>{{ app.user.nom|upper }} {{ app.user.prenom|capitalize }}</span>
                {% endif %}
            {% endif %}
        </i>
    </div>
    <div class="tippy menu" data-tippy="Didacticiel" data-tippy-placement="bottom" id="openModalHelp">
        <i class="fas fa-atlas fa-lg btn-en-dev" class="icon"></i>
    </div>
    {% if app.user is defined %}
        {% if app.user is not null and is_granted('ROLE_CITOYEN') %}
            {# Relations #}
            <div class="tippy menu" id="nav-relations" data-tippy="Relations" data-tippy-placement="bottom">
                <a href="{{ url('relation_page') }}">
                    <i class="fas fa-users fa-lg" class="icon"></i>
                </a>
            </div>
            {# Admin #}
            {% if is_granted('ROLE_MODO') %}
                <div class="tippy menu" id="nav-admin" data-tippy="Admin" data-tippy-placement="bottom">
                    <a href="{{ url('admin_home') }}">
                        <i class="fas fa-user-shield fa-lg" class="icon"></i>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}

</nav>