<section class="part-login-forgot">
    <form action="#" name="form-login" class="form-login">
        <div class="divConnection">
            <h1>Se connecter</h1>
            <div class="input-login-signIn div-input">
                <input class="input-user-login input-login-email" type="email" name="input-login-email"
                       placeholder="Email" required>

                <input class="input-user-login input-login-password" type="password" name="input-login-password"
                       placeholder="Mot de passe" required>
            </div>

            <div id="erreur-credentials" class="error" style="display: none">Les identifiants renseignés ne sont pas
                valides
            </div>

            <div class="grid-line-login">
                <div class="div-checkbox">
                    <input type="checkbox" id="checkmemory" class="remember-me">
                    <label class="checkmemory" for="checkmemory">Se souvenir de moi</label>
                </div>
                <button class="button-line-login btn-loader btn-login">Se connecter</button>
            </div>
        </div>
    </form>
    <div class="vertical-line"></div>
    <form action="#" name="form-forgot-password" class="form-forgot-password">
        <div class="divPasswordForget">
            <h1>Mot de passe oublié ?</h1>
            <div class="div-input">
                <input class="input-user-login-forget-password input-login-email" type="email"
                       name="input-login-forgotpassword" placeholder="Email du compte perdu" required>
            </div>
            <div class="BtnSendLoginForgot">
                <button class="btn-en-dev button-recuperation-password">Envoyez</button>
            </div>
        </div>
    </form>
</section>