{# Page d'information de compte #}
<form id="compte-form" name="compte-Form">
    <div class="img-part-compte">
        <div class="square-img img en-dev">
            <input type="file" name="file-compte" class="img-input-compte">
        </div>
    </div>
    <div class="part-right-compte-page">
        <div class="compte-top-right-part">
            <div class="compte-left-part-right">
                <p>Membre depuis le {{ app.user.createdDate|date("d/m/Y") }}</p>
                <p>A publié 12 ressource(s)</p>
                <p>A commenté 5 ressource(s)</p>
            </div>
            <div class="compte-right-part-right">
                <p>Pour un total de 15 commentaire(s)</p>
                <p>Est en relation avec 20 personne(s)</p>
            </div>
        </div>
        <div class="formulaire-modification-part">
            {# Nom (Obligatoire) #}
            <input type="text" class="input-user-all-compte" name="input-user-name-modif" id="input-user-name-modif"
                   placeholder="Nom *" value="{{ app.user.nom|upper }}" maxlength="30" required>
            <div id="error-nom" class="error" style="display: none"></div>

            {# Prénom (Obligatoire) #}
            <input type="text" class="input-user-all-compte" name="input-user-firstname-modif"
                   id="input-user-firstname-modif" value="{{ app.user.prenom|capitalize }}" placeholder="Prénom *" maxlength="30" required>
            <div id="error-prenom" class="error" style="display: none"></div>

            {# Email #}
            <input
                    type="email" class="input-user-all-compte" name="input-user-name-change-password"
                    id="input-user-name-change-password" placeholder="E-mail *" maxlength="30" required
                    value="{{ app.user.email }}"
            >
            <div id="error-email" class="error" style="display: none"></div>

            {# Pseudo #}
            <input type="text" class="input-user-all-compte" name="input-user-pseudo-modif"
                   id="input-user-pseudo-modif" value="{{ app.user.pseudo|capitalize }}" placeholder="Pseudonyme" maxlength="30">
            <cite>Le pseudonyme est utilisé pour cacher votre identité aux personnes qui ne sont pas dans vos
                contacts</cite>
            <div id="error-pseudo" class="error" style="display: none"></div>

        </div>
        <div class="button-compte-modification">
            <button class="button-line-modification btn-loader btn-en-dev" id="Modification">Modifier</button>
            <div id="error-modification" class="error" style="display: none"></div>
        </div>
    </div>
</form>
