<tr class="tr-pagination">
    <td colspan="999">
        <div class="pagination">
            <div class="first"><<</div>
            <div class="previous"><</div>
            <div class="lsPage"></div>
            <div class="next">></div>
            <div class="last">>></div>
        </div>
    </td>
</tr>