{% extends 'public/public.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/template/public/accueil.js') }}"></script>
    {{ parent() }}
{% endblock %}

{% block content %}

    {% set leftColumn %}
        {% if not is_granted('ROLE_USER') %}
            <button id="home-registration" class="btn-info">S'inscrire</button>
            <button id="home-login" class="btn-info">Se connecter</button>
        {% else %}
            <button id="home-modification" class="btn-info">Modifier son compte</button>
            <a href="{{ url('user_account') }}" class="btn-info">Voir mon compte</a>
            <button id="home-disconnect" class="btn-info">Se déconnecter</button>
        {% endif %}
    {% endset %}

    {% set message %}
        <h1>Bienvenue sur ressource relationnelle</h1>
    {% endset %}

    {% set rightColumn %}
        <button class="btn-info btn-en-dev">Voir le didacticiel</button>
        <a href="{{ url('resource_list') }}" class="btn-info">Accéder aux ressources</a>
        {% if is_granted('ROLE_USER') %}
            <a href="{{ url('resource_create') }}" class="btn-info">Créer une ressource</a>
            <a href="{{ url('resource_my_resources') }}" class="btn-info">Voir ses ressources</a>
        {% endif %}
    {% endset %}

    {% include('/message_page.html.twig') %}

{% endblock %}
