{% extends 'admin/admin.html.twig' %}

{% block title %}Admin : Catégorie De Ressource{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/template/admin/category/list.js') }}"></script>
    <script src="{{ asset('assets/js/class/model/CategorieRessourceModel.js') }}"></script>
    <script src="{{ asset('assets/js/class/Pagination.js') }}"></script>
    <script src="{{ asset('assets/js/class/Table.js') }}"></script>
    {{ parent() }}
{% endblock %}



{% block content %}

    {% set idTable = "categories" %}

    {% set tableHeader %}
        <tr>
            <th>Libellé</th>
            <th>Créer</th>
            <th>Modifier</th>
            <th>Action</th>
        </tr>
    {% endset %}

    {% include("/admin/tableau.html.twig") %}

{% endblock %}