{% extends 'public/public.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/resources-list.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/facets.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/swiper.css') }}">
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{{ asset('assets/js/template/public/ressource/list.js') }}"></script>
    <script src="{{ asset('assets/js/class/model/CategorieRessourceModel.js') }}"></script>
    <script src="{{ asset('assets/js/class/model/TypeRessourceModel.js') }}"></script>
    <script src="{{ asset('assets/js/class/model/TypeRelationModel.js') }}"></script>
    <script src="{{ asset('assets/js/class/model/RessourceModel.js') }}"></script>
    {{ parent() }}
{% endblock %}

{% block content %}

    <div id="list-resources">
        {# Facets #}
        <div id="facets-list-resources">
            <div id="div-facets">
                {# Titre #}
                <div class="block-facets dropdown active">
                    <h2>Titre</h2>
                    <div class="part-input-block-facets">
                        <input id="search-title">
                    </div>
                </div>
                <div class="block-facets dropdown active">
                    <h2>Créateur</h2>
                    <div class="part-input-block-facets">
                        <input id="search-user">
                    </div>
                </div>
                {# Type relation #}
                <div class="block-facets dropdown {% if is_granted('ROLE_ADMIN') %}hide{% endif %}">
                    <h2>Type relation</h2>
                    <div id="block-facets-type-relation" class="part-input-block-facets" style="display: none">
                    </div>
                </div>
                {# Type ressource #}
                <div class="block-facets dropdown">
                    <h2>Type ressource</h2>
                    <div id="block-facets-type-ressource" class="part-input-block-facets" style="display: none">
                    </div>
                </div>
                {# Catégorie ressource #}
                <div class="block-facets dropdown">
                    <h2>Catégorie ressource</h2>
                    <div id="block-facets-categorie-ressource" class="part-input-block-facets" style="display: none">
                    </div>
                </div>
                {# Trie #}
                <div class="block-facets dropdown en-dev">
                    <h2>Trie</h2>
                    <div class="part-input-block-facets" style="display: none">
                        <select id="sort-res">
                            <option id="sort-res-date" value="createdDate" selected>Date de création</option>
                            <option id="sort-res-titre" value="titre">Titre</option>
                            <option id="sort-res-type-ressource" value="typeRessource">Type de ressource</option>
                            <option id="sort-res-categorie-ressource" value="categorieRessource">Catégorie de
                                ressource
                            </option>
                        </select>
                    </div>
                </div>

                {% include('/menu-burger.html.twig') %}

            </div>
            <div id="div-valid-search">
                <button id="btn-search-resources" class="btn-info"><i class="fas fa-lg fa-search-plus"></i>Rechercher
                </button>
            </div>
        </div>

        <!-- Slider main container -->
        <div id="slider-list-resources" class="swiper-container">

            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>

            <div id="no-result" style="display: none">

                {% set message %}
                    <h1>Aucun résultat n'a été trouvé...</h1>
                {% endset %}

                {% include('/message_page.html.twig') %}

            </div>
        </div>
    </div>

{% endblock %}