{% extends 'admin/admin.html.twig' %}

{% block title %}Admin : Type De Ressource{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/template/admin/typeRelation/list.js') }}"></script>
    <script src="{{ asset('assets/js/class/model/TypeRelationModel.js') }}"></script>
    <script src="{{ asset('assets/js/class/Pagination.js') }}"></script>
    <script src="{{ asset('assets/js/class/Table.js') }}"></script>
    {{ parent() }}
{% endblock %}


{% block content %}

    {% set idTable = "types-relations" %}

    {% set tableHeader %}
        <tr>
            <th>Libellé</th>
            <th>Créer</th>
            <th>Modifier</th>
            <th>Action</th>
        </tr>
    {% endset %}

    {% include("/admin/tableau.html.twig") %}

{% endblock %}