<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>{% block title %}RessourceModel Relationelle{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('assets/css/global.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/public/modal.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/loader.css') }}">

    {% block stylesheets %}{% endblock %}

    <script type="application/javascript">

        let apiHTTP = "{{ apiHTTP }}";
        let apiUrl = "{{ apiUrl }}";
        let userCookieVar = "{{ userCookieVar }}";
        let userRefreshTokenCookieVar = "{{ userRefreshTokenCookieVar }}";
        let urlValidAccount = '{{ url('user_valide') }}';
        let urlActiveAccount = '/utilisateur/active';

        function getCookie(cname) {

            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');

            for (let i = 0; i < ca.length; i++) {

                let c = ca[i];

                while (c.charAt(0) === ' ') {
                    c = c.substring(1);
                }

                if (c.indexOf(name) === 0) {
                    return c.substring(name.length, c.length);
                }

            }

            return "";

        }

        function setCookie(cname, cvalue, nbMin) {
            let d = new Date();
            d.setTime(d.getTime() + (nbMin * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

    </script>

    <script src="https://kit.fontawesome.com/5a90d8c53b.js" crossorigin="anonymous"></script>

    {# Load le Jquery tout le temps sauf si noJquery vaut true #}
    {% if noJquery is not defined or noJquery == false %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>
        <script src="{{ asset('assets/js/template/global.js') }}"></script>
        <script src="{{ asset('assets/js/class/MenuBurger.js') }}"></script>

    {% if multipleSelect is defined and multipleSelect %}

        <link href="https://unpkg.com/multiple-select@1.5.1/dist/multiple-select.min.css" rel="stylesheet">
        <script src="https://unpkg.com/multiple-select@1.5.1/dist/multiple-select.min.js"></script>
        <script src="{{ asset('assets/js/library/MultipleSelect.js') }}"></script>
        <script src="{{ asset('assets/js/library/multipleSelectLang.js') }}"></script>

    {% endif %}

    {% if tiny is defined and tiny %}
        <script src="https://cdn.tiny.cloud/1/v79b7y0xyo64rl5p3yveoywb7500iw1ecnqv22j0q4unpznp/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    {% endif %}

    {% if dropzone is defined and dropzone %}
        <script src="{{ asset('/assets/js/template/dropzone.js') }}"></script>
    {% endif %}

    {% if noAjax is not defined or noAjax == false %}

        <script src="{{ asset('assets/js/ajax/EnumContentType.js') }}"></script>
        <script src="{{ asset('assets/js/ajax/EnumDataType.js') }}"></script>
        <script src="{{ asset('assets/js/ajax/EnumHTTPMethods.js') }}"></script>
        <script src="{{ asset('assets/js/ajax/RequestAjax.js') }}"></script>
        <script src="{{ asset('assets/js/class/Connection.js') }}"></script>
        <script src="{{ asset('assets/js/class/Token.js') }}"></script>
        <script src="{{ asset('assets/js/class/model/Model.js') }}"></script>
        <script src="{{ asset('assets/js/class/model/UserModel.js') }}"></script>

        <script type="application/javascript">

            let user = new UserModel();

            if (document.cookie) {

                userData = getCookie(userCookieVar);
                if (userData) {
                    let userParse = JSON.parse(userData);

                    if (typeof userParse !== "undefined" && userParse && typeof userParse.uuid !== "undefined" && userParse.uuid !== "") {
                        user.createObjectFromData(userParse);
                    }
                }
            }

        </script>

    {% endif %}

    {% if noModalUser is not defined or noModalUser == false %}
        <script src="{{ asset('/assets/js/template/public/user/modalUser.js') }}"></script>
    {% if not is_granted('ROLE_USER') %}
        <script src="{{ asset('/assets/js/template/public/user/login.js') }}"></script>
        <script src="{{ asset('/assets/js/template/public/user/register.js') }}"></script>
    {% endif %}
    {% endif %}

    {% endif %}

    {% block javascripts %}{% endblock %}

</head>

<body>

<div id="modal-non-fait" style="display: none;">

    <div id="content-modal-non-fait">
        <div class="close">X</div>
        <h3>Cette fonctionnalité est en développement.<br/>Nous sommes désolés pour le dérangement.</h3>
    </div>
</div>

<div id="overlay-disable-interaction"></div>

<div id="global-loader" style="display: none">
    <div class="water"></div>
    <h2>Chargement en cours</h2>
</div>

{% if noModalUser is not defined or noModalUser == false %}
    {% include 'public/user/modal.html.twig' %}
{% endif %}

{% block body %}{% endblock %}

</body>

</html>
