<div class="message-page">
    <div class="left-column">
        {% if leftColumn is defined %}
            {{ leftColumn }}
        {% endif %}
    </div>
    <div>
        <img alt="logo-ressource" src="{{ asset('assets/image/Logo_Re_Sources_Complet.png') }}">
        {% if message is defined %}
            {{ message }}
        {% endif %}
    </div>
    <div class="right-column">
        {% if rightColumn is defined %}
            {{ rightColumn }}
        {% endif %}
    </div>
</div>