.overlay {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.28);
  z-index: 10;
}
.overlay #modalUserPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 50%;
  min-height: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1200px) {
  .overlay #modalUserPart {
    min-width: 80%;
  }
}
@media (max-width: 800px) {
  .overlay #modalUserPart {
    min-width: 100%;
  }
}
.overlay #modalUserPart .onglet-registration-modal {
  background-color: rgba(255, 255, 255, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 35px;
}
.overlay #modalUserPart .onglet-registration-modal .onglets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35px;
}
.overlay #modalUserPart .onglet-registration-modal .onglets div {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.overlay #modalUserPart .onglet-registration-modal .onglets div.onglet-gauche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.overlay #modalUserPart .onglet-registration-modal .onglets .onglet {
  border: 1px solid black;
  border-radius: 0;
  border-bottom: 0;
  height: 20px;
  width: 150px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.overlay #modalUserPart .onglet-registration-modal .onglets .onglet.active {
  background: white;
  height: 35px;
}
.overlay #modalUserPart #modal-parts {
  background: white;
  padding: 30px;
  border: solid 0.5px;
}
.overlay #modalUserPart #modal-parts .registrationForm {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (max-width: 800px) {
  .overlay #modalUserPart #modal-parts .registrationForm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.overlay #modalUserPart #modal-parts .registrationForm .divAccountConnection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 800px) {
  .overlay #modalUserPart #modal-parts .registrationForm .divAccountConnection {
    height: 220px;
    margin-bottom: 30px;
  }
}
.overlay #modalUserPart #modal-parts .registrationForm .divAccountConnection .divImageAccount {
  position: relative;
  border: solid 0.5px;
}
@media (max-width: 800px) {
  .overlay #modalUserPart #modal-parts .registrationForm .divAccountConnection .divImageAccount {
    height: 100%;
  }
}
.overlay #modalUserPart #modal-parts .registrationForm .divAccountConnection .divImageAccount .taille_image {
  position: relative;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
}
.overlay #modalUserPart #modal-parts .registrationForm .divAccountConnection .divImageAccount .change_image {
  margin: auto;
}
.overlay #modalUserPart #modal-parts .registrationForm #registration_account {
  display: grid;
  padding-left: 30px;
}
@media (max-width: 800px) {
  .overlay #modalUserPart #modal-parts .registrationForm #registration_account {
    padding-left: 0;
  }
}
.overlay #modalUserPart #modal-parts .registrationForm #registration_account .input-user-all-registration {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-family: "PLay", sans-serif;
  font-size: 16px;
  padding: 20px 0 5px 0;
  outline: none;
  color: black;
  font-weight: bold;
}
.overlay #modalUserPart #modal-parts .registrationForm #registration_account .input-user-all-registration:first-child {
  padding-top: 0;
}
.overlay #modalUserPart #modal-parts .registrationForm #registration_account .checbox-accept {
  color: #4b4b4b;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.overlay #modalUserPart #modal-parts .registrationForm #registration_account .checbox-accept .accept-GCU {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.overlay #modalUserPart #modal-parts .part-login-forgot {
  border: none;
  padding: 0;
}
.overlay #modalUserPart #modal-parts .part-login-forgot .vertical-line {
  margin: 0;
}
@media (max-width: 800px) {
  .overlay #modalUserPart #modal-parts .part-login-forgot .vertical-line {
    border-right: none;
    margin: 15px 0;
    width: 100%;
  }
}
.overlay #modalUserPart #modal-parts .part-login-forgot .form-login,
.overlay #modalUserPart #modal-parts .part-login-forgot .form-forgot-password {
  width: 45%;
}
@media (max-width: 800px) {
  .overlay #modalUserPart #modal-parts .part-login-forgot .form-forgot-password,
.overlay #modalUserPart #modal-parts .part-login-forgot .form-login {
    width: 100%;
  }
}
.overlay #modalUserPart #modal-parts .part-login-forgot .divConnection,
.overlay #modalUserPart #modal-parts .part-login-forgot .divPasswordForget {
  width: 100%;
}

.part-login-forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid black;
  padding: 20px;
}
.part-login-forgot .vertical-line {
  margin: 0 15px;
}
@media (max-width: 800px) {
  .part-login-forgot .vertical-line {
    border-right: none;
    margin: 15px 0;
    width: 100%;
  }
}
.part-login-forgot .form-login,
.part-login-forgot .form-forgot-password {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.part-login-forgot .form-login .divConnection .grid-line-login,
.part-login-forgot .form-forgot-password .divConnection .grid-line-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.part-login-forgot .form-login .divConnection .checkmemory,
.part-login-forgot .form-forgot-password .divConnection .checkmemory {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.part-login-forgot .form-login .divConnection,
.part-login-forgot .form-login .divPasswordForget,
.part-login-forgot .form-forgot-password .divConnection,
.part-login-forgot .form-forgot-password .divPasswordForget {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.part-login-forgot .form-login .divConnection .div-input,
.part-login-forgot .form-login .divPasswordForget .div-input,
.part-login-forgot .form-forgot-password .divConnection .div-input,
.part-login-forgot .form-forgot-password .divPasswordForget .div-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.part-login-forgot .form-login .divConnection .div-input input:last-child,
.part-login-forgot .form-login .divPasswordForget .div-input input:last-child,
.part-login-forgot .form-forgot-password .divConnection .div-input input:last-child,
.part-login-forgot .form-forgot-password .divPasswordForget .div-input input:last-child {
  margin-bottom: 15px;
}
.part-login-forgot .form-login .divConnection .BtnSendLoginForgot,
.part-login-forgot .form-login .divPasswordForget .BtnSendLoginForgot,
.part-login-forgot .form-forgot-password .divConnection .BtnSendLoginForgot,
.part-login-forgot .form-forgot-password .divPasswordForget .BtnSendLoginForgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#compte-form,
#informations-form,
.registrationForm,
.form-login,
.form-forgot-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#compte-form input[type=text],
#compte-form input[type=number],
#compte-form input[type=email],
#compte-form input[type=password],
#informations-form input[type=text],
#informations-form input[type=number],
#informations-form input[type=email],
#informations-form input[type=password],
.registrationForm input[type=text],
.registrationForm input[type=number],
.registrationForm input[type=email],
.registrationForm input[type=password],
.form-login input[type=text],
.form-login input[type=number],
.form-login input[type=email],
.form-login input[type=password],
.form-forgot-password input[type=text],
.form-forgot-password input[type=number],
.form-forgot-password input[type=email],
.form-forgot-password input[type=password] {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-family: "PLay", sans-serif;
  font-size: 16px;
  padding: 10px 0;
  outline: none;
  color: black;
  font-weight: bold;
}
#compte-form button,
#compte-form input[type=button],
#informations-form button,
#informations-form input[type=button],
.registrationForm button,
.registrationForm input[type=button],
.form-login button,
.form-login input[type=button],
.form-forgot-password button,
.form-forgot-password input[type=button] {
  font-family: "PLay", sans-serif;
  background: white;
  border: solid 1px #686868;
  color: #4b4b4b;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#compte-form .divPasswordForget .input-user-login-forget-password,
#informations-form .divPasswordForget .input-user-login-forget-password,
.registrationForm .divPasswordForget .input-user-login-forget-password,
.form-login .divPasswordForget .input-user-login-forget-password,
.form-forgot-password .divPasswordForget .input-user-login-forget-password {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-family: "PLay", sans-serif;
  font-size: 16px;
  padding: 10px 0;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  outline: none;
  color: black;
  font-weight: bold;
}
#compte-form cite,
#informations-form cite,
.registrationForm cite,
.form-login cite,
.form-forgot-password cite {
  padding-top: 5px;
  color: black;
  font-size: 10px;
}

#compte-form .img-part-compte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#compte-form .img-part-compte .square-img {
  position: relative;
  border: solid 0.5px;
}
#compte-form .img-part-compte .square-img .img-input-compte {
  opacity: 0;
}
#compte-form .part-right-compte-page {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#compte-form .compte-left-part-right p,
#compte-form .compte-right-part-right p {
  width: 300px;
}
#compte-form .compte-left-part-right p:first-child,
#compte-form .compte-right-part-right p:first-child {
  margin-top: 0;
}
#compte-form .compte-top-right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
#compte-form .compte-top-right-part .compte-left-part-right {
  padding: 10px;
  border-right: 1px solid black;
}
#compte-form .compte-top-right-part .compte-right-part-right {
  padding: 10px;
}
#compte-form .button-compte-modification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#compte-form .formulaire-modification-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#div-form-user-login {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 800px) {
  #div-form-user-login .part-login-forgot {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#informations-form .div-informations-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#informations-form .div-informations-flex .div-informations-left {
  width: 45%;
}
#informations-form .div-informations-flex .div-informations-left .left-div-informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#informations-form .div-informations-flex .div-informations-left .left-div-informations #input-change-password {
  margin: 19px 0;
}
#informations-form .div-btn-informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 10px;
}
#informations-form .div-informations-right {
  width: 45%;
}
#informations-form .div-informations-right .right-div-informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#informations-form .div-informations-right .right-div-informations .p-right-info {
  margin-top: 21px;
  margin-bottom: 21px;
  text-align: center;
}
/*# sourceMappingURL=modal.css.map */