{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/public/public.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/template/public/public.js') }}"></script>
    {{ parent() }}
{% endblock %}

{% block body %}

    {% block head %}
        <header>
            <div id="div-logo-header">
                <a href="{{ path('accueil') }}"><img src="/assets/image/Logo_Re_Sources_Complet.png" alt="logo"></a>
                <h3 id="titlePageNav">{% if title is defined %}{{ title }}{% endif %}</h3>
            </div>
            {% if nav is defined %}
                {% include nav %}
            {% else %}
                {% include 'public/nav/nav.html.twig' %}
            {% endif %}
        </header>
    {% endblock %}

    {% block content %}{% endblock %}

{% endblock %}
